pipeline/CopyExcelSheetData.json
{
	"name": "CopyExcelSheetData",
	"properties": {
		"activities": [
			{
				"name": "Set FileNameWithout Extension",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileNameWithoutExtension",
					"value": {
						"value": "@substring(pipeline().parameters.FileName,0,add(sub(lastindexof(pipeline().parameters.FileName,'.'),1),1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set File Name Substrings",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set FileNameWithout Extension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileNameParts",
					"value": {
						"value": "@split(variables('FileNameWithoutExtension'),'_')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set ClientCode",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set File Name Substrings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ClientCode",
					"value": {
						"value": "@variables('FileNameParts')[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set ValuationDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set ClientCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileValuationDate",
					"value": {
						"value": "@formatdatetime(variables('FileNameParts')[2],'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set SystemCode",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set ValuationDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SystemCode",
					"value": {
						"value": "@if(greater(length(variables('FileNameParts')),3),variables('FileNameParts')[3],'')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy to staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set SystemCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"additionalColumns": [
							{
								"name": "ProcessedOn",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "ValuationDate",
								"value": {
									"value": "@variables('FileValuationDate')",
									"type": "Expression"
								}
							},
							{
								"name": "ClientCode",
								"value": {
									"value": "@variables('ClientCode')",
									"type": "Expression"
								}
							},
							{
								"name": "SystemCode",
								"value": {
									"value": "@variables('SystemCode')",
									"type": "Expression"
								}
							},
							{
								"name": "FileName",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.CarrierCode",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dsExcelFiles",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@pipeline().parameters.ContainerName",
								"type": "Expression"
							},
							"CarrierCode": {
								"value": "@pipeline().parameters.CarrierCode",
								"type": "Expression"
							},
							"DataStartRange": {
								"value": "@pipeline().parameters.DataStartRange",
								"type": "Expression"
							},
							"SheetIndex": {
								"value": "@pipeline().parameters.SheetIndex",
								"type": "Expression"
							},
							"FirstRowHeader": "True"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dsgrahamStageDBTables",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "stage",
							"TableName": {
								"value": "@pipeline().parameters.CarrierCode",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			},
			"SheetIndex": {
				"type": "string"
			},
			"ContainerName": {
				"type": "string"
			},
			"CarrierCode": {
				"type": "string"
			},
			"DataStartRange": {
				"type": "string"
			}
		},
		"variables": {
			"FileValuationDate": {
				"type": "String"
			},
			"ClientCode": {
				"type": "String"
			},
			"FileNameWithoutExtension": {
				"type": "String"
			},
			"FileNameParts": {
				"type": "Array"
			},
			"SystemCode": {
				"type": "String"
			}
		},
		"folder": {
			"name": "POC/IngestExtract"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-26T18:27:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}