pipeline/IngestAndProcessClientFiles.json
{
	"name": "IngestAndProcessClientFiles",
	"properties": {
		"activities": [
			{
				"name": "Get All Client Data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsonpremclient",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach Client",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Client Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Client Data').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "IngestClientFiles",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "IngestClientFiles",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ClientCode": {
										"value": "@item().name",
										"type": "Expression"
									},
									"ContainerName": {
										"value": "@pipeline().parameters.ContainerName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ExtractKeyshumEmployeeCount",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Client",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractKeyshumEmployeeCount",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExtractKeyshumEmkayClaim",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExtractKeyshumEmployeeCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExtractKeyshumEmkayClaim",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"ContainerName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "ClientData"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-13T17:03:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}