pipeline/ValidateCarrierAndFiles.json
{
	"name": "ValidateCarrierAndFiles",
	"properties": {
		"activities": [
			{
				"name": "IsValidCarrier",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[IsValidCarrier]",
						"storedProcedureParameters": {
							"carriercode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.CarrierName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsgrahamDW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Valid Carrier",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsValidCarrier",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('IsValidCarrier').output.firstRow.Valid,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "MoveInvalidCarrierFiles",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set Invalid Carrier Message",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MoveFile",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourceContainer": "carrier-source",
									"SinkContainer": "skipped-files",
									"FilePath": {
										"value": "@pipeline().parameters.CarrierName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set Invalid Carrier Message",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "OutputMessage",
								"value": {
									"value": "@concat(pipeline().parameters.CarrierName, ' is not defined in DimCarrier Tables')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ClassifyCarrierFiles",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set Valid Carrier Message",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ClassifyCarrierFiles",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"CarrierName": {
										"value": "@pipeline().parameters.CarrierName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set Valid Carrier Message",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "OutputMessage",
								"value": {
									"value": "@concat(pipeline().parameters.CarrierName, ' is a valid carrier')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"CarrierName": {
				"type": "string"
			}
		},
		"variables": {
			"OutputMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "POC/IngestExtract"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-27T17:27:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}